# Sanal ortam ve bağımlılıklar
myenv/
venv/
.env
*.env

# Derlenmiş Python dosyaları
__pycache__/
*.pyc
*.pyo
*.pyd

# Günlük dosyaları
logs/
*.log

# Model dosyaları (büyük dosyalar)
*.h5
*.pb
*.pt
*.tflite

# Geçici dosyalar
*.tmp
*.swp

# Docker ve Compose ile ilgili gereksiz dosyalar
docker-compose.override.yml
.dockerignore

# VS Code ve IDE özel dosyaları
.vscode/
.idea/
*.iml
